<div class="container">
    <div class="table-responsive border-4 mt-5">
        <table class="table text-center">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Urgente</th>
                </tr>
            </thead>
            <tbody>
                @for (task of tasks; track $index) {
                <tr>
                    <td>{{$index}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.description}}</td>
                    <td>
                        @if (task.urgent == 0) {
                            <button class="btn btn-danger">No urgente</button>
                        }@else{
                            <button class="btn btn-success">Urgente</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
