<div class="d-flex justify-content-center align-items-center mt-5">
    <form (ngSubmit)="onSubmit()" class="form-container p-4" style="width: 300px;">
        <div class="form-title">Crear Tarea</div>

        <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input type="text" id="title" name="title" class="form-control" [(ngModel)]="task.title"
                placeholder="Titulo" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción:</label>
            <textarea id="description" name="description" class="form-control" [(ngModel)]="task.description"
                placeholder="Descripción" rows="3" required></textarea>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" id="urgent" name="urgent" class="form-check-input" [(ngModel)]="task.urgent">
            <label for="urgent" class="form-check-label">Urgente</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 btn-save">Crear Tarea</button>
    </form>
</div>
