<div class="d-flex justify-content-center align-items-center mt-5">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-container p-4" style="width: 300px;">
        <div class="form-title">Crear Tarea</div>

        <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input type="text" id="title" formControlName="title" class="form-control" placeholder="Titulo">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción:</label>
            <textarea id="description" formControlName="description" class="form-control" placeholder="Descripción"
                rows="3"></textarea>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" id="urgent" formControlName="urgent" class="form-check-input">
            <label for="urgent" class="form-check-label">Urgente</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 btn-save" [disabled]="taskForm.invalid">Crear Tarea</button>
    </form>
</div>
